.button {
  background-color: color(white);
  border: 1px solid #526e98;
  color: #526e98;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  user-select: none;

  &:hover {
    background-color: #526e98;
    color: color(white);
    transition: all 250ms ease-in-out;
  }

  &--small {
    font-size: $font-size-small;
    padding: 5px 10px;
  }

  &--regular {
    font-size: $font-size-regular;
  }

  &--large {
    font-size: $font-size-large;
  }
}
