// @define .cell

.cell {
  background-color: $color-board-cell;
  padding-bottom: 100%;
  position: relative;

  &::after {
    // This white border needs to be laid over the diamond for bonus tiles,
    // otherwise we could use grid-gap
    box-shadow:
      $game-grid-gap 0 0 0 $color-board-cell-border,
      0 $game-grid-gap 0 0 $color-board-cell-border,
      0 $game-grid-gap 0 0 $color-board-cell-border inset,
      $game-grid-gap 0 0 0 $color-board-cell-border inset,
      $game-grid-gap $game-grid-gap 0 0 $color-board-cell-border,
      inset 1.5px 1.5px 2px 1px $color-dark-grey; // inset shadow
    content: '';
    height: 100%;
    left: -$game-grid-gap / 2;
    position: absolute;
    top: -$game-grid-gap / 2;
    width: 100%;
  }

  &--bonus {
    z-index: 1;

    &::before {
      content: '';
      height: 90%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 90%;
      z-index: -1;
    }
  }

  &__text {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: calc(#{$game-tile-size} / 3);
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: $game-grid-gap / 2;
    width: 100%;
  }

  &--double-letter {
    &,
    &::before {
      background-color: $color-board-double-letter;
    }

    .cell__text {
      color: darken($color-board-double-letter, 50%);
    }
  }

  &--double-word {
    &,
    &::before {
      background-color: $color-board-double-word;
    }

    .cell__text {
      color: darken($color-board-double-word, 40%);
    }
  }

  &--triple-letter {
    &,
    &::before {
      background-color: $color-board-triple-letter;
    }

    .cell__text {
      color: darken($color-board-triple-letter, 40%);
    }
  }

  &--triple-word {
    &,
    &::before {
      background-color: $color-board-triple-word;
    }

    .cell__text {
      color: darken($color-board-triple-word, 30%);
    }
  }

  &--over {
    z-index: 2;

    &::after {
      background-color: lighten($color-board-cell, 15%);
      color: $color-board-cell;
    }
  }

  &--filled {
    padding-bottom: 0;
  }
}
