.cell {
  background-color: $color-board-cell;
  padding-bottom: 100%;
  position: relative;

  &:after {
    // This white border needs to be laid over the diamond for bonus tiles,
    // otherwise we could use grid-gap
    box-shadow:
      $game-grid-gap 0 0 0 $color-board-cell-border,
      0 $game-grid-gap 0 0 $color-board-cell-border,
      0 $game-grid-gap 0 0 $color-board-cell-border inset,
      $game-grid-gap 0 0 0 $color-board-cell-border inset,
      $game-grid-gap $game-grid-gap 0 0 $color-board-cell-border,
      inset 1.5px 1.5px 2px 1px $color-dark-grey; // inset shadow
    content: '';
    height: 100%;
    left: -$game-grid-gap / 2;
    position: absolute;
    top: -$game-grid-gap / 2;
    width: 100%;
  }

  &--bonus {
    z-index: 1;

    &:before {
      content: '';
      height: 90%;
      width: 90%;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
      left: 50%;
      position: absolute;
      z-index: -1;
    }

    &:after {
      align-items: center;
      display: flex;
      font-family: sans-serif;
      font-size: calc(#{$game-tile-size} / 3);
      justify-content: center;
    }
  }

  &--double-letter {
    &,
    &:before {
      background-color: $color-board-double-letter;
    }

    &:after {
      content: 'DL';
      color: darken($color-board-double-letter, 50%)
    }
  }

  &--double-word {
    &,
    &:before {
      background-color: $color-board-double-word;
    }

    &:after {
      content: 'DW';
      color: darken($color-board-double-word, 40%)
    }
  }

  &--triple-letter {
    &,
    &:before {
      background-color: $color-board-triple-letter;
    }

    &:after {
      content: 'TL';
      color: darken($color-board-triple-letter, 40%)
    }
  }

  &--triple-word {
    &,
    &:before {
      background-color: $color-board-triple-word;
    }

    &:after {
      content: 'TW';
      color: darken($color-board-triple-word, 30%)
    }
  }

  &--over {
    z-index: 2;
    &:after {
      background-color: lighten($color-board-cell, 15%);
      color: $color-board-cell;
    }
  }

  &--filled {
    padding-bottom: 0;
  }
}
