body {
  background-color: #F7F2E7;
  color: color(dark-grey);
  font-family: $font-family-body;
}

main {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

a {
  display: inline-block;
}
