$font-size-small:   14px;
$font-size-regular: 16px;
$font-size-large:   20px;

$font-family-body: Roboto;
$font-family-heading: Montserrat;

$color-primary: #025652;
$color-secondary: #709794;

$color-white: #fff;
$color-light-grey: #f4f7f8;
$color-grey: #979797;
$color-dark-grey: #2b2b2b;

$color-board-cell: #009690;
$color-board-border: #ebfdf7;
$color-board-double-letter: #ADE9FC;
$color-board-double-word: #FECD8D;
$color-board-triple-letter: #75DCFA;
$color-board-triple-word: #FE4453;
$color-board-tile-background: #E9DECD;
$color-board-tile-text: #012d38;

$color-form-invalid: #e74c3c;
$color-form-success: #2ecc71;
