$colors: (
  light-grey: #f4f7f8,
  mid-grey: #979797,
  dark-grey: #16181a,
  white: #fff,
  blue: #3498db,
  green: #2ecc71,
  red: #e74c3c,
);

$font-size-small:   14px;
$font-size-regular: 16px;
$font-size-large:   20px;

$font-family-body: Roboto;
$font-family-heading: Montserrat;
