$game-margin: 20px;

.game {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'board sidebar';
  margin: $game-margin;
  grid-gap: $game-margin;

  &__board {
    grid-area: board;
  }

  &__sidebar {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    height: calc(100vh - (#{$game-margin} * 2));
    position: sticky;
    top: 0;
    width: 100%;
  }
}
