$game-margin: 20px;

.game {
  background: #025652;
  display: grid;
  grid-template-areas: 'board sidebar';
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-gap: $game-margin;
  height: calc(100vh - (#{$game-margin} * 2));
  padding: $game-margin;

  &__board {
    grid-area: board;
  }

  &__sidebar {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
  }
}
