.tile {
  align-items: center;
  background-color: #E9DECD;
  color: #012d38;
  display: flex;
  font-family: sans-serif;
  font-weight: 400;
  justify-content: center;
  position: relative;
  z-index: 100;

  &--dragging {
    opacity: 0;
  }

  &__score {
    bottom: 10%;
    position: absolute;
    right: 10%;
  }
}
