// @define .tile

.tile {
  align-items: center;
  background-color: $color-board-tile-background;
  border: 0.5px solid darken($color-board-tile-background, 5%);
  color: $color-board-tile-text;
  display: flex;
  font-family: sans-serif;
  font-size: calc(#{$game-tile-size} / 2);
  font-weight: 400;
  height: calc(#{$game-tile-size} - 2px);
  justify-content: center;
  position: relative;
  width: calc(#{$game-tile-size} - 2px);
  z-index: 100;

  &--dragging {
    opacity: 0;
  }

  &--hidden {
    visibility: hidden;
  }

  &__score {
    bottom: 10%;
    font-size: calc(#{$game-tile-size} / 4);
    position: absolute;
    right: 10%;
  }
}
